{%- set fPosts = collections.post -%}
{%- set fTotal = fPosts | length -%}
<footer class="tb" aria-label="Colophon">
    <div class="tb-grid">
        <div class="tb-cell tb-cell--name">
            <span class="tb-k">Edition</span>
            <a class="tb-site" href="{{ '/' | url }}">{{ meta.siteName }}</a>
            <span class="tb-motto">{{ meta.motto }}</span>
        </div>
        <div class="tb-cell">
            <span class="tb-k">By</span>
            <span class="tb-v">{{ meta.authorName }}<br>{{ meta.location }}</span>
        </div>
        <div class="tb-cell">
            <span class="tb-k">Posts</span>
            <span class="tb-v">{{ fTotal }}, {{ (fPosts | first).date | yearOf }}&ndash;{{ (fPosts | last).date | yearOf }}</span>
        </div>
        <div class="tb-cell">
            <span class="tb-k">Printed</span>
            <span class="tb-v"><time datetime="{{ build.date | isoDate }}">{{ build.date | plateDate }}</time></span>
        </div>
        <div class="tb-cell">
            <span class="tb-k">Subscribe</span>
            <span class="tb-v tb-list"><a href="{{ '/feed.xml' | url }}">Blog feed</a> <a href="{{ '/linklog-feed.xml' | url }}">Link Log feed</a></span>
        </div>
        <div class="tb-cell">
            <span class="tb-k">Elsewhere</span>
            <span class="tb-v tb-list"><a href="https://github.com/{{ meta.githubUser }}" rel="noopener noreferrer">GitHub</a> <a href="https://www.linkedin.com/in/{{ meta.linkedinkUser }}/" rel="noopener noreferrer">LinkedIn</a> <a href="https://twitter.com/{{ meta.twitterUser }}" rel="noopener noreferrer">Twitter</a></span>
        </div>
    </div>
    <p class="tb-copy">&copy; {% year %}&nbsp;{{ meta.authorName }}</p>
</footer>
