---
title: Articolo del Blog
description: Questa è la descrizione di uno degli articoli del blog
tags: post
date: Created
type: article
---
<!DOCTYPE html>
<html lang="it">
{% include "head-article.njk" %}
<!-- Start Body -->
<body>
    {% include "nav.njk" %}
    <article>
        <small class="info">
            <time datetime="{{page.date}}">{{page.date | readableDate}}</time>
        </small>
        <h1>{{ title }}</h1>
        {% if tags | length %}
        <div class="article-tags">
            {%- for tag in tags -%}
                {%- if tag != "post" -%}
                <span class="tag">{{ tag }}</span>
                {%- endif -%}
            {%- endfor -%}
        </div>
        {% endif %}
        {{content | safe}}
    </article>
    {% include "footer.njk" %}
</body>
<!-- End Body -->
</html>
